mat-expansion-panel-header {
    font-size: large;
    font-weight: 400;
    background: rgb(243, 243, 243);
}

mat-card {
    margin: 1%;
}

div {
    margin: 3%;
    margin-bottom: 3%;
    font-size: large;
    font-weight: 300;
}

h1 {
    text-align: center;
}

.card {
    overflow: hidden;
    border: solid rgb(0, 0, 0) 0.1px;
    background: rgb(197, 204, 209);
    padding: 1%;
}

.card:hover {
    overflow: scroll;
}

span {
    font-weight: 350;
    font-size: large;
    text-align: center;
}

header {
    font-weight: 300;
    font-size: xx-large;
    text-align: center;
}

mat-toolbar {
    background: rgb(17, 17, 17);
    color: rgb(5, 5, 5);
    padding-top: 1%;
    padding-bottom: 1%;
}